.header {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 10;
    width: 100%;
  }
  
  .header .navbar-nav {
    border-color: rgba(255, 255, 255, 0.3) !important;
  }
  
  .header .nav-link::after {
    content: "";
    display: block;
    width: 0;
    height: 0.125rem;
    background: linear-gradient(to right, #fbbd61, #ec7532);
    position: absolute;
    bottom: 0;
    left: 0;
    transition: all 0.5s linear;
  }
  
  .header .nav-link:hover::after,
  .header .nav-link.is-active::after {
    width: 100%;
  }