  .slider .carousel-caption .trailer p {
    width: 2.5rem;
    height: 2.5rem;
    border: 2px solid #fff;
    border-radius: 50%;
    line-height: 2.2rem;
    text-align: center;
  }
  
  .slider .carousel-item1 {
    background-image: url(./img/hero-1.jpg);
  }
  
  .slider .carousel-item2 {
    background-image: url(./img/hero-2.jpg);
  }
  
  .slider .carousel-item3 {
    background-image: url(./img/hero-3.jpg);
  }
  
  .slider .carousel-item {
    height: 37.5rem;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
  }
  
  .slider .carousel-caption .trailer button {
    background: linear-gradient(to right, #fbbd61, #ec7532);
    border: none;
    border-radius: 30rem;
    padding: 0.7rem 2rem;
    color: #fff;
    font-weight: 300;
    font-size: 0.875rem;
    letter-spacing: 0.2rem;
  }
  
  .slider .carousel-caption {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  
  .slider .carousel-item::after {
    content: "";
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background: linear-gradient(to top, #000, transparent);
  }
  